# Environment & Secrets
.env
*.env
backend/.env

# Python & Django
__pycache__/
*.py[cod]
*$py.class
*.log
backend/logs/*.log
db.sqlite3

# Node & Frontend
node_modules/
dist/
.vite/

# OS & Editor
.DS_Store
Thumbs.db
.idea/
.vscode/